<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(128, 180, 38);
}
</style>
</head>
<body style="background-image: url(https://images.pexels.com/photos/3892172/pexels-photo-3892172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-repeat:no-repeat; background-position:top; background-size:cover;" class="body">
  <br><br><br><br><br>
<h1 style="text-align: center;">COURSE (Semister 1)</h1>

<table>
  <tr>
    <th>Course Name</th>
    <th>Course Code</th>
    <th>Semister</th>
    <th>Teacher Name</th>
  </tr>
  <tr>
    <td>Programming Fundamentals</td>
    <td>031</td>
    <td>Semister 1</td>
    <td>P.K. Patil</td>
  </tr>
  <tr>
    <td>OOPS's Concepts</td>
    <td>032</td>
    <td>Semister 1</td>
    <td>R.K. Hinge</td>
  </tr>
  <tr>
    <td>Database Technology</td>
    <td>033</td>
    <td>Semister 1</td>
    <td>N.R. Mavale</td>
  </tr>
  <tr>
    <td>Web Based Technology</td>
    <td>034</td>
    <td>Semister 1</td>
    <td>P.P. Madake</td>
  </tr>
  <tr>
    <td>Software Engineering</td>
    <td>035</td>
    <td>Semister 1</td>
    <td>A.A. Hinge</td>
  </tr>
  <tr>
    <td>Communication Skiils</td>
    <td>036</td>
    <td>Semister 1</td>
    <td>S.R. Patole</td>
  </tr>
</table>

</body>
</html>