<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(128, 180, 38);
}
</style>
</head>
<body style="background-image: url(https://images.pexels.com/photos/3892172/pexels-photo-3892172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-repeat:no-repeat; background-position:top; background-size:cover;" class="body">
    <br><br><br><br><br>
<h1 style="text-align: center;">FEES</h1>

<table>
  <tr>
    <th>Education Year</th>
    <th>Paid</th>
    <th>Unpaid</th>
  </tr>
  <tr>
    <td>First Year</td>
    <td>00</td>
    <td>00</td>
  </tr>
  <tr>
    <td>Second Year</td>
    <td>00</td>
    <td>00</td>
  </tr>
  <tr>
    <td>Third Year</td>
    <td>00</td>
    <td>00</td>
  </tr>
  <tr>
    <td>Fourth Year</td>
    <td>00</td>
    <td>00</td>
  </tr>
  </tr>
</table>

</body>
</html>