<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">MY PROFILE</h1>
<%  if(UserData.length!=0) { var i=1; UserData.forEach(function(data){  %>


<table style="text-align: center;" onload="check()">
  <tr>
    <th>Profile</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Your Name</td>
    <td><input type="text" id="name" name="name" placeholder="<%=data.Name %>"></td>
  </tr>
  <tr>
    <td>Your Adress</td>
    <td><input type="image" id="Image" name="Image" src="<%=data.Image %>"></td>
  </tr>
  </table>
  <%  i++; }) }%>

</body>
</html>